{% extends 'network/layout.html' %}
{% load static %}

{% block body %}
    
    <section id="following-page">
        
        <div id="following-page-header">
            <h2>Following</h2>

        </div>

        <div id="posts-container">
            <div id="post-list">
            </div>
        </div>

        


    </section>

    <div id="loading-text"></div>



    
    <script>

        let currentPage = 1;
        const postsPerPage = 10;
        let loadMorePosts = false;
        let allPostsLoaded = false;

        function fetchFollowingPosts(page) {
            if (loadMorePosts || allPostsLoaded) {
                return;
            }
            loadMorePosts = true;
            const loadingText = document.getElementById('loading-text');
            loadingText.textContent = 'Loading...';

            fetch(`/following_posts?page=${page}`)
                .then(response => response.json())
                .then(data => {
                    const postList = document.getElementById('post-list');

                    data.posts.forEach(post => {
                        const postItem = document.createElement('div');
                        postItem.className = 'post-item';
                        postItem.innerHTML = `
                            <p class="post-author"><strong><a href="/profile_page/${post.author}">${post.author}</a></strong></p>
                            <p>${post.text}</p>
                            <p>${post.timestamp}</p>
                            <div class="likes-comments">
                                <p>Liked by: ${post.liked_by.join(', ')}</p>
                                <p>Comments: ${post.comments.length}</p>
                            </div>
                        `;
                        postList.appendChild(postItem);
                    });

                    currentPage++;
                    loadMorePosts = false;

                    if (data.posts.length < postsPerPage) {
                        allPostsLoaded = true;
                        loadingText.textContent = 'No more posts to load';
                    } else {
                        loadingText.textContent = '';
                    }
                })
                .catch(error => {
                    console.error('Error fetching follower posts:', error);
                    loadMorePosts = false;
                    loadingText.textContent = '';
                });
        }

        let timeout;
        window.addEventListener('scroll', function() {
            if ((window.innerHeight + window.scrollY) >= document.body.offsetHeight) {
                this.clearTimeout(timeout);
                timeout = this.setTimeout(function() {
                    fetchFollowingPosts(currentPage);
                }, 1000);
            }
        });
        fetchFollowingPosts(currentPage);

        
    </script>

{% endblock  %}

