{% extends "network/layout.html" %}
{% load static %}

{% block body %}

    {% if user.is_authenticated %}
    <div id="container-post">
        <h5>Share your thoughts...</h5>
        <form action="{% url 'new_post' %}" id="post-form" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <textarea name="body" id="post-content" rows="1" cols="10" required></textarea><br>
            <label for="post-image" class="custom-file-upload">
                <input type="file" id="post-image" accept="image/*">
                <i class="fa-regular fa-file-image fa-xl"></i>
            </label>
            <button id="post-button">Post</button>
        </form>
    </div>
    {% endif %}
    
    <div id="post-list"> 
    </div>

{% endblock %}

{% block script %}
    <script src="{% static 'network/script.js' %}"></script>
{% endblock  %}

