{% extends 'network/layout.html' %}
{% load static %}

{% block body %}

    <section id="profile-page">

        <div id="profile">
            <div class="profile-details">
            </div>
        </div>

        <div id="all-posts">
            <h2>All Posts</h2>
            <div id="posts-container">
                <div id="post-list">
                    {% for post in user_posts %}
                        <div class="post-item">
                            <p class="post-author"><strong>{{ post.user }}</strong></p>
                            <p>{{ post.body | safe }}</p>
                            <p>{{ post.formatted_timestamp }}</p>
                            <div class="likes-comments">
                                <p>Liked by: {{ post.liked_by.count }}</p>
                                <p>Comments: {{ post.comments.count }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        
    </section>

    <script src="{% static 'network/script.js' %}"></script>
{% endblock  %}