nav {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: rgba(197, 197, 197, 0.918);
  border-bottom: 1px solid rgba(170, 170, 170, 0.589);
}
nav .navbar-brand {
  font-size: 28px;
  font-weight: 600;
  padding: 10px;
}
nav a {
  font-size: 16px;
  margin-left: 10px;
}

body {
  background-image: url("/static/network/images/background1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  background-color: rgba(243, 239, 239, 0.904);
}
body #posts-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
body #posts-container #container-post {
  background-color: rgb(216, 215, 215);
  padding: 20px;
  max-width: -moz-fit-content;
  max-width: fit-content;
  flex-wrap: wrap;
  flex: 1;
  border-radius: 0 0 18px;
  border-bottom: 1px solid rgba(170, 170, 170, 0.589);
  border-right: 1px solid rgba(170, 170, 170, 0.589);
}
body #posts-container #container-post h5 {
  margin-left: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
body #posts-container #container-post #post-content {
  border-radius: 40px;
  padding: 10px;
  height: 45px;
  width: 250px;
  resize: none;
  background-color: rgba(255, 255, 255, 0.74);
  overflow-y: hidden;
  transition: all 0.4s ease;
  outline: none;
  box-shadow: none;
}
body #posts-container #container-post #post-content:hover {
  background-color: rgba(231, 231, 231, 0.74);
}
body #posts-container #container-post #post-content:focus {
  transition: all 0.4s ease;
  height: 250px;
  padding: 20px;
}
body #posts-container #container-post label {
  background-color: rgba(243, 243, 243, 0.796);
  border: 1px solid rgba(151, 151, 151, 0.867);
  border-radius: 16px;
  transition: all 0.4s ease;
}
body #posts-container #container-post label:hover {
  background-color: aquamarine;
  transform: scale(1.1);
}
body #posts-container #container-post label input[type=file] {
  display: none;
}
body #posts-container #container-post label i {
  padding: 20px;
}
body #posts-container #container-post #post-button {
  border-radius: 16px;
  border: 1px solid rgba(151, 151, 151, 0.867);
  padding: 9px;
  width: 60px;
  margin-top: 8px;
  margin-left: 10px;
  transition: all 0.4s ease;
  outline: none;
  box-shadow: none;
}
body #posts-container #container-post #post-button:hover {
  background-color: rgba(59, 235, 255, 0.827);
  transform: scale(1.1);
}
body #posts-container #post-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 5%;
  margin-right: 5%;
  border: 1px solid rgba(0, 0, 0, 0.589);
  background-color: rgba(44, 44, 44, 0.568);
  padding: 10px;
}
body #posts-container #post-list .post-item {
  padding: 28px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 300px;
  max-height: -moz-fit-content;
  max-height: fit-content;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.589);
  transition: all 0.4s ease;
}
body #posts-container #post-list .post-item:hover {
  background-color: rgba(44, 44, 44, 0.568);
}
body #posts-container #post-list .post-author {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 10px;
}
body #posts-container #post-list .post-author a {
  text-decoration: none;
  color: white;
}
body #posts-container #post-list .post-author a:hover {
  text-decoration: underline;
}
body #posts-container #post-list .edit-post {
  margin-left: -10px;
  padding: 10px;
}
body #posts-container #post-list .edit-post .edit-button {
  border-radius: 16px;
  border: 1px solid rgba(139, 139, 139, 0.867);
  padding: 0 10px 0;
  height: 30px;
  width: -moz-fit-content;
  transition: all 0.4s ease;
  outline: none;
  box-shadow: none;
}
body #posts-container #post-list .edit-post .edit-button:hover {
  background-color: rgba(59, 235, 255, 0.827);
  transform: scale(1.1);
}
body #posts-container #post-list .edit-post .save-button {
  border-radius: 16px;
  border: 1px solid rgba(139, 139, 139, 0.867);
  padding: 0 10px 0;
  height: 30px;
  width: -moz-fit-content;
  transition: all 0.4s ease;
  outline: none;
  box-shadow: none;
}
body #posts-container #post-list .edit-post .save-button:hover {
  background-color: rgba(59, 255, 134, 0.827);
  transform: scale(1.1);
}
body #posts-container #post-list .edit-post .delete-button {
  border-radius: 16px;
  border: 1px solid rgba(139, 139, 139, 0.867);
  padding: 0 10px 0;
  height: 30px;
  width: -moz-fit-content;
  transition: all 0.4s ease;
  outline: none;
  box-shadow: none;
}
body #posts-container #post-list .edit-post .delete-button:hover {
  background-color: rgba(241, 126, 126, 0.827);
  transform: scale(1.1);
}
body #posts-container #post-list .post-text {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 10px;
  margin-top: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}
body #posts-container #post-list .post-text .post-image {
  width: 60%;
  height: 400px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}
body #posts-container #post-list .likes-comments {
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
body #posts-container #post-list .likes-comments .like-button {
  border-radius: 16px;
  border: 1px solid rgba(139, 139, 139, 0.867);
  padding: 0 10px 0;
  height: 30px;
  width: -moz-fit-content;
  transition: all 0.4s ease;
  outline: none;
  box-shadow: none;
}
body #posts-container #post-list .likes-comments .like-button:hover {
  background-color: rgba(59, 111, 255, 0.827);
  transform: scale(1.1);
}
body #profile {
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 10px;
  background-color: rgba(44, 44, 44, 0.568);
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body #profile h2 {
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
body #profile #follow-button {
  border-radius: 16px;
  border: 1px solid rgba(139, 139, 139, 0.867);
  padding: 9px;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 8px;
  transition: all 0.4s ease;
  outline: none;
  box-shadow: none;
}
body #profile #follow-button.unfollow:hover {
  background-color: rgb(223, 153, 153);
}
body #profile #follow-button.follow:hover {
  background-color: rgb(111, 169, 245);
}
body #profile #follow-button:hover {
  transform: scale(1.1);
}
body #profile .profile-details {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
body #profile .profile-details p {
  margin-left: 20px;
}
body #profile-content {
  margin-top: 70px;
}
body #profile-content #posts-container {
  display: flex;
}
body #profile-content #posts-container #post-list {
  flex: 2;
}/*# sourceMappingURL=styles.css.map */