nav {
    background-color: rgba(255, 255, 255, 0.658);
    border-bottom: 1px solid rgba(170, 170, 170, 0.589);
    .navbar-brand {
        font-size: 28px;
        font-weight: 600;
        padding: 10px;
    }
    a {
        font-size: 16px;
        margin-left: 10px;
    }
}

body {
    background-color: rgba(243, 239, 239, 0.904);
}
